:root {
  --disabled: rgba(255, 255, 255, 0.38);
  --gray: rgba(109, 109, 109, 1);
  --high-emphasis: rgba(255, 255, 255, 0.92);
  --ios-officialgreendarktheme: rgba(48, 209, 88, 1);
  --medium-emphasis: rgba(255, 255, 255, 0.6);
  --mobile-body-font-family: "AvenirNext-Regular", Helvetica;
  --mobile-body-font-size: 17px;
  --mobile-body-font-style: normal;
  --mobile-body-font-weight: 400;
  --mobile-body-letter-spacing: 0.34px;
  --mobile-body-line-height: normal;
  --mobile-caption-font-family: "AvenirNext-Regular", Helvetica;
  --mobile-caption-font-size: 11px;
  --mobile-caption-font-style: normal;
  --mobile-caption-font-weight: 400;
  --mobile-caption-letter-spacing: 0.22px;
  --mobile-caption-line-height: normal;
  --mobile-h1-font-family: "AvenirNext-Bold", Helvetica;
  --mobile-h1-font-size: 34px;
  --mobile-h1-font-style: normal;
  --mobile-h1-font-weight: 700;
  --mobile-h1-letter-spacing: -0.17px;
  --mobile-h1-line-height: normal;
  --mobile-h2-font-family: "AvenirNext-Bold", Helvetica;
  --mobile-h2-font-size: 28px;
  --mobile-h2-font-style: normal;
  --mobile-h2-font-weight: 700;
  --mobile-h2-letter-spacing: -0.14px;
  --mobile-h2-line-height: normal;
  --mobile-h3-font-family: "AvenirNext-Bold", Helvetica;
  --mobile-h3-font-size: 22px;
  --mobile-h3-font-style: normal;
  --mobile-h3-font-weight: 700;
  --mobile-h3-letter-spacing: -0.11px;
  --mobile-h3-line-height: normal;
  --mobile-headline-font-family: "AvenirNext-DemiBold", Helvetica;
  --mobile-headline-font-size: 17px;
  --mobile-headline-font-style: normal;
  --mobile-headline-font-weight: 700;
  --mobile-headline-letter-spacing: 0.34px;
  --mobile-headline-line-height: normal;
  --mobile-small-font-family: "AvenirNext-Regular", Helvetica;
  --mobile-small-font-size: 13px;
  --mobile-small-font-style: normal;
  --mobile-small-font-weight: 400;
  --mobile-small-letter-spacing: 0.26px;
  --mobile-small-line-height: normal;
  --mobile-subheadline-font-family: "AvenirNext-Medium", Helvetica;
  --mobile-subheadline-font-size: 15px;
  --mobile-subheadline-font-style: normal;
  --mobile-subheadline-font-weight: 500;
  --mobile-subheadline-letter-spacing: 0.3px;
  --mobile-subheadline-line-height: normal;
  --primary-color: rgba(255, 167, 36, 1);
  --pure-white: rgba(255, 255, 255, 1);
  --secondary-color: rgba(34, 34, 34, 1);
  --surface1st-surface: rgba(34, 34, 34, 1);
  --surface2nd-surface: rgba(34, 34, 34, 1);
  --surface3rd-surface: rgba(34, 34, 34, 1);
  --web-body-bold-font-family: "AvenirNext-DemiBold", Helvetica;
  --web-body-bold-font-size: 16px;
  --web-body-bold-font-style: normal;
  --web-body-bold-font-weight: 700;
  --web-body-bold-letter-spacing: 0.08px;
  --web-body-bold-line-height: normal;
  --web-body-font-family: "AvenirNext-Regular", Helvetica;
  --web-body-font-size: 16px;
  --web-body-font-style: normal;
  --web-body-font-weight: 400;
  --web-body-letter-spacing: 0.08px;
  --web-body-line-height: normal;
  --web-h1-font-family: "AvenirNext-DemiBold", Helvetica;
  --web-h1-font-size: 42px;
  --web-h1-font-style: normal;
  --web-h1-font-weight: 700;
  --web-h1-letter-spacing: -0.63px;
  --web-h1-line-height: normal;
  --web-h2-font-family: "AvenirNext-DemiBold", Helvetica;
  --web-h2-font-size: 36px;
  --web-h2-font-style: normal;
  --web-h2-font-weight: 700;
  --web-h2-letter-spacing: -0.54px;
  --web-h2-line-height: normal;
  --web-h3-font-family: "AvenirNext-Medium", Helvetica;
  --web-h3-font-size: 28px;
  --web-h3-font-style: normal;
  --web-h3-font-weight: 500;
  --web-h3-letter-spacing: -0.42px;
  --web-h3-line-height: normal;
  --web-headline-font-family: "AvenirNext-Medium", Helvetica;
  --web-headline-font-size: 20px;
  --web-headline-font-style: normal;
  --web-headline-font-weight: 500;
  --web-headline-letter-spacing: 0.1px;
  --web-headline-line-height: normal;
  --web-small-font-family: "AvenirNext-Regular", Helvetica;
  --web-small-font-size: 12px;
  --web-small-font-style: normal;
  --web-small-font-weight: 400;
  --web-small-letter-spacing: 0.06px;
  --web-small-line-height: normal;
  --web-subheadline-font-family: "AvenirNext-Regular", Helvetica;
  --web-subheadline-font-size: 14px;
  --web-subheadline-font-style: normal;
  --web-subheadline-font-weight: 400;
  --web-subheadline-letter-spacing: 0.07px;
  --web-subheadline-line-height: normal;
  --white-8: rgba(255, 255, 255, 0.08);
}
