.display-name {
  background-color: #222222;
  height: 100%;
  position: relative;
  width: 100%;
}

.display-name .overlap {
  background-color: #222222;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  display: inline-flex;
  position: relative;
}

.display-name .frame-3 {
  flex-direction: column;
  align-items: center;
  gap: 64px;
  display: inline-flex;
  text-align: center;
  height: 85%;
}

.display-name .progress-bar-instance {
  position: relative !important;
}

.display-name .frame-4 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.display-name .text-wrapper-4 {
  color: var(--pure-white);
  font-family: var(--web-h2-font-family);
  font-size: var(--web-h2-font-size);
  font-style: var(--web-h2-font-style);
  font-weight: var(--web-h2-font-weight);
  letter-spacing: var(--web-h2-letter-spacing);
  line-height: var(--web-h2-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 448px;
}

.display-name .p {
  color: var(--pure-white);
  font-family: var(--web-body-font-family);
  font-size: var(--web-body-font-size);
  font-style: var(--web-body-font-style);
  font-weight: var(--web-body-font-weight);
  letter-spacing: var(--web-body-letter-spacing);
  line-height: var(--web-body-line-height);
  position: relative;
  text-align: center;
  width: 600px;
}

.display-name .frame-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.display-name .frame-6 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.display-name .profile-web-instance {
  background-image: url(https://c.animaapp.com/Jg1s5q7K/img/ellipse-12-2.svg) !important;
}

.display-name .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 15px 0px;
  position: relative;
}

.display-name .frame-8 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 62px;
  padding: 0px 12px;
  position: relative;
  width: 259px;
}

.display-name .text-wrapper-5 {
  color: var(--pure-white);
  flex: 1;
  font-family: var(--web-h2-font-family);
  font-size: var(--web-h2-font-size);
  font-style: var(--web-h2-font-style);
  font-weight: var(--web-h2-font-weight);
  letter-spacing: var(--web-h2-letter-spacing);
  line-height: var(--web-h2-line-height);
  margin-top: -1px;
  position: relative;
}

.display-name .vector {
  height: 12px;
  position: relative;
  width: 12px;
}

.display-name .frame-9 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 116px;
  padding: 0px 12px;
  position: relative;
  width: 259px;
}

.display-name .frame-10 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 133px;
  position: relative;
}

.display-name .div-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  margin-right: -86px;
  position: relative;
}

.display-name .text-wrapper-6 {
  align-self: stretch;
  color: var(--high-emphasis);
  font-family: var(--web-headline-font-family);
  font-size: var(--web-headline-font-size);
  font-style: var(--web-headline-font-style);
  font-weight: var(--web-headline-font-weight);
  letter-spacing: var(--web-headline-letter-spacing);
  line-height: var(--web-headline-line-height);
  margin-top: -1px;
  position: relative;
}

.display-name .vector-2 {
  height: 24px;
  margin-bottom: -42942px;
  margin-right: -50923.5px;
  position: relative;
  width: 24px;
}

.display-name .longer-text-field-instance {
  position: relative !important;
  width: 352px !important;
}

.display-name .longer-text-field-2 {
  text-align: unset !important;
}

.display-name .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  position: relative;
}
